FlujoJson
[{"id":"2a5dcd2c.653412","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5bd99284.fe430c","type":"inject","z":"2a5dcd2c.653412","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":260,"wires":[["b325a9fb.7739c8","838d26a1.fcb698"]]},{"id":"8308c0b1.110b9","type":"function","z":"2a5dcd2c.653412","name":"Format Casos","func":"var res = {};\nvar mensaje = [];\n\nvar str = msg.payload;\nmensaje = str.split(\"\\n\");\nstr = mensaje[0];\nmensaje = str.split(\"\\r\");\nres.payload = {};\nswitch(mensaje[0])\n{\n    case \"Movimiento Extraño detectado\":\n        res.topic = \"peligroPosibleExtraño\";\n        res.payload = {\"data\": mensaje[0], \"hubId\": 1}\n        break;\n    \n}\n\nreturn res;","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["1dffaf4d.8cf431","16379ecb.ff2c81"]]},{"id":"b325a9fb.7739c8","type":"function","z":"2a5dcd2c.653412","name":"Format Time","func":"var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["4f172b92.c57b74","16379ecb.ff2c81"]]},{"id":"838d26a1.fcb698","type":"debug","z":"2a5dcd2c.653412","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":360,"wires":[]},{"id":"1dffaf4d.8cf431","type":"debug","z":"2a5dcd2c.653412","name":"after temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":160,"wires":[]},{"id":"4f172b92.c57b74","type":"debug","z":"2a5dcd2c.653412","name":"after time","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":440,"wires":[]},{"id":"16379ecb.ff2c81","type":"function","z":"2a5dcd2c.653412","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch(msg.topic)\n{\n    case \"peligroPosibleExtraño\":\n        context.data.peligroPosibleExtrano = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif(context.data.peligroPosibleExtrano != null && context.data.time != null)\n{\n    res = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"alto/casa1/peligroPosibleExtraño\";\n    context.data = null;\n    return res;\n}\n\n","outputs":1,"noerr":0,"x":820,"y":260,"wires":[["1e94ec65.8d5ac4","81071a36.275ad8"]]},{"id":"1e94ec65.8d5ac4","type":"debug","z":"2a5dcd2c.653412","name":"after merge","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1060,"y":340,"wires":[]},{"id":"81071a36.275ad8","type":"mqtt out","z":"2a5dcd2c.653412","name":"","topic":"alta/casa1/peligroPosibleExtraño","qos":"0","retain":"false","broker":"f6f8a5b1.ec9768","x":1200,"y":220,"wires":[]},{"id":"860fe57.5f38d18","type":"debug","z":"2a5dcd2c.653412","name":"before Format","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":140,"wires":[]},{"id":"64f98a3b.92b1e4","type":"serial in","z":"2a5dcd2c.653412","name":"RPI Sensor","serial":"5d88cc94.956ac4","x":210,"y":140,"wires":[["860fe57.5f38d18","8308c0b1.110b9"]]},{"id":"49cee160.72b6c","type":"inject","z":"2a5dcd2c.653412","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":701,"wires":[["bfed4bbb.fb8348","4f1f4fd7.bddf7"]]},{"id":"bfed4bbb.fb8348","type":"function","z":"2a5dcd2c.653412","name":"Format Time","func":"var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":470,"y":741,"wires":[["8064dd78.251ca","bf9198e4.e65e28"]]},{"id":"4f1f4fd7.bddf7","type":"debug","z":"2a5dcd2c.653412","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":801,"wires":[]},{"id":"8064dd78.251ca","type":"debug","z":"2a5dcd2c.653412","name":"after time","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":881,"wires":[]},{"id":"bf9198e4.e65e28","type":"function","z":"2a5dcd2c.653412","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch(msg.topic)\n{\n    case \"NumFallidos\":\n        context.data.numFallidos = msg.payload;\n        msg = null;\n        break;\n    case \"PuertaAbierta30Sec\":\n        context.data.puertaAbierta30Sec = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif(context.data.numFallidos != null && context.data.time != null)\n{\n    res = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"alto/casa1/numFallidos\";\n    context.data = null;\n    return res;\n}\nelse if(context.data.puertaAbierta30Sec != null && context.data.time != null)\n{\n    res = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"alto/casa1/puertaAbierta30Sec\";\n    context.data = null;\n    return res;\n}\n\n","outputs":1,"noerr":0,"x":840,"y":701,"wires":[["cd3c92cb.2e241","b91b03db.a8779"]]},{"id":"6a20972.1d7dd68","type":"function","z":"2a5dcd2c.653412","name":"Format Casos","func":"var res = {};\nvar mensaje = [];\n\nvar str = msg.payload;\nmensaje = str.split(\"\\n\");\nstr = mensaje[0];\nmensaje = str.split(\"\\r\");\nres.payload = {};\nswitch(mensaje[0])\n{\n    case \"Numero de intentos fallidos superados\":\n        res.topic = \"NumFallidos\";\n        res.payload = {\"data\": mensaje[0], \"hubId\": 1}\n        break;\n    case \"Puerta Abierta mas 30 sec\":\n        res.topic = \"PuertaAbierta30Sec\";\n        res.payload = {\"data\": mensaje[0], \"hubId\": 1}\n        break;\n    \n}\n\nreturn res;","outputs":1,"noerr":0,"x":460,"y":641,"wires":[["856b7aee.a463a8","bf9198e4.e65e28"]]},{"id":"cd3c92cb.2e241","type":"debug","z":"2a5dcd2c.653412","name":"after merge","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1080,"y":781,"wires":[]},{"id":"b91b03db.a8779","type":"mqtt out","z":"2a5dcd2c.653412","name":"","topic":"alta/casa1/problemaPuerta","qos":"0","retain":"false","broker":"f6f8a5b1.ec9768","x":1200,"y":661,"wires":[]},{"id":"856b7aee.a463a8","type":"debug","z":"2a5dcd2c.653412","name":"after temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":601,"wires":[]},{"id":"8cc5ee7d.d29bf","type":"serial in","z":"2a5dcd2c.653412","name":"Keypad Sensor","serial":"5d88cc94.956ac4","x":250,"y":581,"wires":[["75706d17.841fb4","6a20972.1d7dd68"]]},{"id":"75706d17.841fb4","type":"debug","z":"2a5dcd2c.653412","name":"before Format","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":581,"wires":[]},{"id":"4ffe8b3.e3b9074","type":"inject","z":"2a5dcd2c.653412","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1060,"wires":[["27ac27c5.982eb8","2e2cae0c.e1bd32"]]},{"id":"27ac27c5.982eb8","type":"function","z":"2a5dcd2c.653412","name":"Format Time","func":"var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":410,"y":1100,"wires":[["418acc7e.1a7544","28deaddf.2b5332"]]},{"id":"2e2cae0c.e1bd32","type":"debug","z":"2a5dcd2c.653412","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":1160,"wires":[]},{"id":"418acc7e.1a7544","type":"debug","z":"2a5dcd2c.653412","name":"after time","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":1240,"wires":[]},{"id":"28deaddf.2b5332","type":"function","z":"2a5dcd2c.653412","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\nswitch(msg.topic)\n{\n    case \"aperturaManual\":\n        context.data.aperturaManual = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif(context.data.aperturaManual != null && context.data.time != null)\n{\n    res = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"medio/casa1/aperturaManual\";\n    context.data = null;\n    return res;\n}\n\n","outputs":1,"noerr":0,"x":780,"y":1060,"wires":[["e59cde46.f930d","bdaabb97.a6ca78"]]},{"id":"ef7953cf.297c7","type":"function","z":"2a5dcd2c.653412","name":"Format Temperature","func":"var res = {};\nvar mensaje = [];\n\nvar str = msg.payload;\nmensaje = str.split(\"\\n\");\nstr = mensaje[0];\nmensaje = str.split(\"\\r\");\nres.payload = {};\nswitch(mensaje[0])\n{\n    case \"Se abrio la puerta\":\n        res.topic = \"aperturaManual\";\n        res.payload = {\"data\": mensaje[0], \"hubId\": 1}\n        break;\n    \n}\n\nreturn res;","outputs":1,"noerr":0,"x":420,"y":1000,"wires":[["e7c7f5e8.b515d8","28deaddf.2b5332"]]},{"id":"e59cde46.f930d","type":"debug","z":"2a5dcd2c.653412","name":"after merge","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":1140,"wires":[]},{"id":"bdaabb97.a6ca78","type":"mqtt out","z":"2a5dcd2c.653412","name":"","topic":"medio/casa1/aperturaManual","qos":"0","retain":"false","broker":"f6f8a5b1.ec9768","x":1140,"y":1020,"wires":[]},{"id":"e7c7f5e8.b515d8","type":"debug","z":"2a5dcd2c.653412","name":"after temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":960,"wires":[]},{"id":"2bfe5c0b.0be3c4","type":"serial in","z":"2a5dcd2c.653412","name":"Switch Sensor","serial":"5d88cc94.956ac4","x":180,"y":940,"wires":[["46db0c15.bc5bc4","ef7953cf.297c7"]]},{"id":"46db0c15.bc5bc4","type":"debug","z":"2a5dcd2c.653412","name":"before Format","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":940,"wires":[]},{"id":"f6f8a5b1.ec9768","type":"mqtt-broker","z":"","name":"","broker":"172.23.65.161","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5d88cc94.956ac4","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]
